/*Quitar advertencia "unkdown at rule @tailwind" => 
1- Abra el archivo CSS donde importa Tailwind CSS
2-Presione Ctrl + Shift + P y busque “cambiar modo de idioma”
3-Dentro de la barra de búsqueda, escriba "tailwindcss" y selecciónelo.
Ahora su archivo CSS está asociado con Tailwind CSS en lugar de CSS normal y las advertencias deberían desaparecer*/

/* Normalización de estilos */
/* @import "tailwindcss/preflight"; */
@import "tailwindcss";

@theme {
  /* Colors */
  --color-cream: #fdfcf5;
  --color-linen: #f4f2e9;
  --color-parchment: #e5e2d5;
  --color-stone: #b2ad99;
  --color-ink: #4a483f;
  --color-yellow: #ffde00;
  --color-orange: #ff8c00;
  --color-magenta: #ff007a;
  --color-blue: #74b9ff;
  --color-purple: #7a5fff;
  --color-cyan: #00ffd1;
  --color-mint: #55e6c1;
  /* Font families */
  --font-title: "Montserrat", sans-serif;
  --font-subtitle: "Space Grotesk", sans-serif;
  --font-accent-title: "Syne", sans-serif;
  --font-body: "Space Mono", monospace;
  --font-accent-body: "Fira Code", monospace;

  /* background images  */
  /* --nav-movile: "url('./assets/background/mobile/navbar.svg')";
  --nav-tablet: "url('./assets/background/tablet/navbar.svg')";
  --nav-desktop: "url('./assets/background/desktop/navbar.svg')"; */
  --animate-carousel: carousel 45s linear infinite;

  @keyframes carousel {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

/* estilos customizados*/
@layer base {
  body {
    @apply bg-parchment text-ink font-body;
  }
}

@layer components {
  /* Aquí van tus componentes Tailwind extendidos, si hay */
}

@layer utilities {
  /* Aquí van utilidades personalizadas */
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
